{% set body_classes = body_class(['header-fixed', 'header-animated', 'header-dark', 'header-transparent', 'sticky-footer']) %}
{% set grid_size = theme_var('grid-size') %}
{% set compress = theme_var('production-mode') ? '.min.css' : '.css' %}
{% use 'blocks/base.html.twig' %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
    <head>
        {% block head deferred %}
            <meta charset="utf-8"/>
            <title>
                {% if page.title %}
                    {{ page.title|e('html') }}
                    |
                {% endif %}
                {{ site.title|e('html') }}</title>

            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {% include 'partials/metadata.html.twig' %}

            <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}"/>
            <link rel="canonical" href="{{ page.url(true, true) }}"/>

            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

            <link rel="preload" href="{{ url('theme://css/fontawesome-5.15.4/webfonts/fa-brands-400.woff2') }}" as="font" type="font/woff2" crossorigin>
            <link rel="preload" href="{{ url('theme://css/fontawesome-5.15.4/webfonts/fa-regular-400.woff2') }}" as="font" type="font/woff2" crossorigin>
            <link rel="preload" href="{{ url('theme://css/fontawesome-5.15.4/webfonts/fa-solid-900.woff2') }}" as="font" type="font/woff2" crossorigin>
            <link rel="preload" href="{{ url('theme://images/headers/header_background.png') }}" as="image">
            <link rel="preload" href="{{ url('theme://images/headers/Book_Light_Editorial_on_xs.png') }}" as="image">
            <link rel="preload" href="{{ url('theme://images/button_sheet.png') }}" as="image">

            {% if page.header.preload_assets %}
                {% for asset in page.header.preload_assets %}
                <link 
                    rel="preload" 
                    href="{{ asset.path }}" 
                    as="{{ asset.media_type|default('image') }}" 
                    {% if asset.media_query %}media="({{ asset.media_query }})"{% endif %}
                >
                {% endfor %}
            {% endif %}

            <!-- Google Tag Manager -->
            <script>
                (function (w, d, s, l, i) {
                    w[l] = w[l] || [];
                    w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
                    var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s),
                        dl = l != 'dataLayer' ? '&l=' + l : '';
                    j.async = true;
                    j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                    f.parentNode.insertBefore(j, f);
                })(window, document, 'script', 'dataLayer', 'GTM-TCH5DG3');
            </script>
            <!-- End Google Tag Manager -->

        {% endblock head %}

        {% block stylesheets %}
            {% do assets.addCss('theme://css-compiled/spectre'~compress) %}
            {% if theme_var('spectre.exp') %}
                {% do assets.addCss('theme://css-compiled/spectre-exp'~compress)  %}
            {% endif %}
            {% if theme_var('spectre.icons') %}
                {%  do assets.addCss('theme://css-compiled/spectre-icons'~compress) %}
            {% endif %}
            {% do assets.addCss('theme://css-compiled/theme'~compress) %}
            {% do assets.addCss('theme://css/line-awesome.min.css') %}
            {% do assets.addCss('theme://css/bricklayer.css') %}
            {% do assets.addCss('theme://css/fontawesome-5.15.4/css/all.css') %}
        {% endblock %}

        {% block javascripts %}
            {% do assets.addJs('jquery', 101) %}
            {% do assets.addJs('theme://js/jquery.treemenu.js', {group:'bottom'}) %}
            {% do assets.addJs('theme://js/site.js', {group:'bottom'}) %}
            {% do assets.addJs('theme://js/illuminate.js', {group:'bottom'}) %}
            {% do assets.addJs('theme://js/vendor/rellax.min.js', {group:'bottom'}) %}
            {% do assets.add('theme://js/bricklayer.min.js') %}
            {% do assets.add('theme://js/scopedQuerySelectorShim.min.js') %}
        {% endblock %}

        {% block assets deferred %}
            {{ assets.css()|raw }}
            {{ assets.js()|raw }}
        {% endblock %}
    </head>
    <body id="top" class="{% block body_classes %}{{ body_classes }}{% endblock %}">
        <div id="page-wrapper">
            {% block header %}
                <section id="header" class="section">
                    <section class="container grid-xl">
                        <nav class="navbar" aria-label="header-bar">
                            <section class="navbar-section logo">
                                {% include 'partials/logo.html.twig' %}
                            </section>
                            <section class="navbar-section desktop-menu">

                                <nav class="dropmenu animated" aria-label="navigation">
                                    {% block header_navigation %}
                                        {% include 'partials/navigation.html.twig' %}
                                    {% endblock %}
                                </nav>

                                {% if config.plugins.login.enabled and grav.user.username %}
                                    <span class="login-status-wrapper">
                                        <i class="fa fa-user"></i>
                                        {% include 'partials/login-status.html.twig' %}</span>
                                {% endif %}

                            </section>
                        </nav>
                    </section>
                </section>
                <div class="mobile-menu">
                    <div class="button_container" id="toggle">
                        <span class="top"></span>
                        <span class="middle"></span>
                        <span class="bottom"></span>
                    </div>
                </div>
            {% endblock %}

            {% block showcase %}
                {% include 'partials/showcase.html.twig' %}
            {% endblock %}

            <section id="start" role="main">
                {% block body %}
                    <section id="body-wrapper" class="section">
                        <section class="container {{ grid_size }}">
                            {% block messages %}
                                {% include 'partials/messages.html.twig' ignore missing %}
                            {% endblock %}
                            {{ block('content_surround') }}
                        </section>
                    </section>
                {% endblock %}
            </section>
        </div>

        {% block footer %}
            {% include 'partials/footer.html.twig' %}
        {% endblock %}

        {% block mobile %}
            <div class="mobile-container">
                <div class="overlay" id="overlay">
                    <div class="mobile-logo">
                        {% include 'partials/logo.html.twig' with {mobile: true} %}
                    </div>
                    <nav class="overlay-menu">
                        {% include 'partials/navigation.html.twig' with {tree: true} %}
                    </nav>
                </div>
            </div>
        {% endblock %}

        <div id="floating-social" class="social-icons" role="complementary">
            <a class="social-icon" href="https://booklighteditorial.us15.list-manage.com/subscribe?u=41cbd1b3120b5a7852e2b113c&id=2186454ed1" target="_blank">
                <i class="far fa-newspaper fa-lg"></i>
                <span class="hidden-link-text">Newsletter</span>
            </a>
            <a class="social-icon" href="https://www.storychatradio.com/" target="_blank">
                <i class="fa fa-podcast fa-lg"></i>
                <span class="hidden-link-text">Podcast</span>
            </a>
            <a class="social-icon" href="https://twitter.com/fromcarly" target="_blank">
                <i class="fab fa-twitter fa-lg"></i>
                <span class="hidden-link-text">Twitter</span>
            </a>
            <a class="social-icon" href="https://www.instagram.com/booklighteditorial/" target="_blank">
                <i class="fab fa-instagram fa-lg"></i>
                <span class="hidden-link-text">Instagram</span>
            </a>
        </div>

        {% block bottom %}
            {{ assets.js('bottom')|raw }}
        {% endblock %}

        <script>
            // Accepts any class name
            var rellax = new Rellax('.rellax-image', {center: true});
        </script>

        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TCH5DG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

    </body>
</html>
