<footer id="footer">
	<div class="totop">
		<span>
			<a href="#" id="toTop">
				<i class="fa fa-arrow-up"></i>
			</a>
		</span>
	</div>
	<div id="social-media">
		<a href="https://twitter.com/fromcarly" target="_blank"><img src="{{ url('theme://images/footer/social/twitter.png') }}"/></a>
		<a href="https://www.facebook.com/booklighteditorial/" target="_blank"><img src="{{ url('theme://images/footer/social/facebook.png') }}"/></a>
		<a href="https://www.instagram.com/booklighteditorial/" target="_blank"><img src="{{ url('theme://images/footer/social/instagram.png') }}"/></a>
		<a href="https://plus.google.com/+BookLightEditorial" target="_blank"><img src="{{ url('theme://images/footer/social/google_plus.png') }}"/></a>
		<a href="https://www.linkedin.com/in/carlyhayward/" target="_blank"><img src="{{ url('theme://images/footer/social/linkedin.png') }}"/></a>
	</div>
	<img id="heart-book" src="{{ url('theme://images/footer/Book_Light_Editorial_TattooImage.png') }}"/>
	<p>Created by
		<a target="_blank" href="https://twitter.com/WebwardCo">Webward Co</a>.</p>
	<p>Content copyright
		{{ now|date('Y') }}. Carly T. Hayward. All rights reserved.</p>
</footer>
